N8N Templates/Automation Gmail-DataBase.json
{
  "name": "Automation Gmail-DataBase",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject: Sales"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3afa2c20-59ea-42bc-972c-d1373cd55978",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "rWGIdClaKsSCd8AN",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "xls",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "74c9e48b-f292-4b56-8629-79b894ea4f55",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "fact_sales_monthly",
          "mode": "list",
          "cachedResultName": "fact_sales_monthly"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sold_quantity": "={{ $json.sold_quantity }}",
            "date": "={{ new Date(($json.date - 25569) * 86400000).toISOString().split('T')[0] }}",
            "customer_code": "={{ $json.customer_code }}",
            "product_code": "={{ $json.product_code }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_code",
              "displayName": "product_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_code",
              "displayName": "customer_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sold_quantity",
              "displayName": "sold_quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        0
      ],
      "id": "67247e53-3944-4311-9238-d1105d93df18",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "oRyYckifDncypsGN",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0f1b2ec6-aa7a-4dcc-9f96-cb4bcc069875",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d9b44e682cf92a47ee3042175451f8023819299fd7d3487dc6b60585896fc"
  },
  "id": "OZpo3wq27iOojqHT",
  "tags": []
}